body>img {
    display:none;
}

.mainHeader .container {
    padding: 0;
    margin: 0 2rem;
    max-width: 100%;
}
@media screen and (min-width: 1101px) {
    .mainHeader .container {
        margin: 0 10rem;
    }
}

.mainHeader .container .content-container .mainNav .mainItem.search .search-border #close-search {
    top: 0.6rem;
}

.mainHeader.active-search .container .mainNav .mainItem.search .search-border #input {
    height: 3.3rem;
}

.mainHeader.active-search .container .mainNav .mainItem.search .search-border ::placeholder,
.mainHeader.active-search .container .mainNav .mainItem.search .search-border :-ms-input-placeholder,
.mainHeader.active-search .container .mainNav .mainItem.search .search-border ::-ms-input-placeholder {
    color: #262626;
    opacity: 1;
}

.Footer {
    position: relative;
    z-index: 1;
}

.Footer .footerNav .mainItem a {
    color: #bbbbbb;
}

.Footer .mainNav .footerNav .mainItem > ul {
    margin-top: 2rem;
}

/*Main Footer exceptions*/